<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1014060762513-f94pe5kbs7tmd2sq6u6upuni3n2gllrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014060762513-f94pe5kbs7tmd2sq6u6upuni3n2gllrh</string>
	<key>API_KEY</key>
	<string>AIzaSyCKDGjgwHVj_h9l00zRgi44AblxS3AWOKA</string>
	<key>GCM_SENDER_ID</key>
	<string>1014060762513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.todo</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014060762513:ios:b11149c54c40c790</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfire-todo.firebaseio.com</string>
</dict>
</plist>